# Module: SQLite3 Assignments
## Lesson: SQLite3

### Assignment 1: Creating and Connecting to a Database

In [1]:
#1. Write a Python function to create a new SQLite3 database named `test.db`.

import sqlite3

def create_database():
    conn = sqlite3.connect('test.db')
    conn.close()
    print("Database created and successfully connected.")

# Test the function
create_database()

Database created and successfully connected.

In [2]:
#2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

def create_table():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS employees (
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL,
            age INTEGER NOT NULL,
            department TEXT NOT NULL
        )
    ''')
    
    conn.commit()
    conn.close()
    print("Table 'employees' created successfully.")
    
# Test the function
create_table()

Table 'employees' created successfully.

### Assignment 2: Inserting Data

In [7]:
#1. Write a Python function to insert a new employee into the `employees` table.

def insert_employee(id, name, age, department):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute(''' INSERT INTO EMPLOYEES (id, name, age, department) VALUES (?, ?, ?, ?) ''', (id, name, age, department))
    conn.commit()
    conn.close()
    print(f"Employee {name} inserted successfully.")
    
# Test the function
insert_employee(1, 'Jack', 29, 'HR')
insert_employee(2, 'Rio', 25, 'IT')

Employee Jack inserted successfully.
Employee Rio inserted successfully.

In [10]:
#2. Insert at least 5 different employees into the `employees` table.

insert_employee(3, 'John', 35, 'Finance')
insert_employee(4, 'Emily', 32, 'Marketing')
insert_employee(5, 'Michael', 28, 'Sales')

Employee John inserted successfully.
Employee Emily inserted successfully.
Employee Michael inserted successfully.

### Assignment 3: Querying Data

In [11]:
#1. Write a Python function to fetch and display all records from the `employees` table.

def fetch_employees():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM employees')
    records = cursor.fetchall()
    conn.close()
    for records in records:
        print(records)
        
# Test the fucntion
fetch_employees()

(1, 'Jack', 29, 'HR')
(2, 'Rio', 25, 'IT')
(3, 'John', 35, 'Finance')
(4, 'Emily', 32, 'Marketing')
(5, 'Michael', 28, 'Sales')

In [16]:
#2. Write a Python function to fetch and display all employees from a specific department.

def fetch_employee_dept(department):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM employees WHERE department = ?', (department, ))
    records = cursor.fetchall()
    conn.close()
    for records in records:
        print(records)
        
# Test the fucntion
fetch_employee_dept('Finance')
fetch_employee_dept('IT')

(3, 'John', 35, 'Finance')
(2, 'Rio', 25, 'IT')

### Assignment 4: Updating Data

In [19]:
#1. Write a Python function to update the department of an employee based on their `id`.

def update_employee_dept(employee_id,new_department):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute(''' UPDATE employees SET department = ? WHERE ID = ? ''', (new_department, employee_id))
    conn.commit()
    conn.close()
    print("Employee department updated successfully.")

#Test the function
update_employee_dept(1, 'Finance')

Employee department updated successfully.

In [20]:
#2. Update the department of at least 2 employees and display the updated records.

update_employee_dept(2, 'Backend Engineer')
update_employee_dept(5, 'Head of Sales and Marketing')

Employee department updated successfully.
Employee department updated successfully.

### Assignment 5: Deleting Data

In [ ]:
# 1. Write a Python function to delete an employee from the `employees` table based on their `id`.

def delete_employee(employee_id):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute(''' DELETE FROM employees WHERE id = ? ''', (employee_id, ))
    conn.commit()
    conn.close()
    print(f"Employee  deleted successfully.")
    
#Test the function
delete_employee(4)

Employee  deleted successfully.

In [27]:
# 2. Delete at least 1 employee and display the remaining records.

delete_employee(5)

#Fetch and display all records 
fetch_employees()

Employee  deleted successfully.
(1, 'Jack', 29, 'Finance')
(2, 'Rio', 25, 'Backend Engineer')
(3, 'John', 35, 'Finance')

### Assignment 6: Advanced Queries

In [36]:
# 1. Write a Python function to fetch and display employees older than a certain age.
def fetch_to_age(employee_age):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute(''' SELECT * FROM employees where age >= ? ''', (employee_age, ))
    records = cursor.fetchall()
    conn.close()
    for records in records:
        print(records)

# Test the function
fetch_to_age(26)

(1, 'Jack', 29, 'Finance')
(3, 'John', 35, 'Finance')

In [37]:
# 2. Write a Python function to fetch and display employees whose names start with a specific letter.

def fetch_to_name_letter(letter):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute(''' SELECT * FROM employees Where name LIKE ? ''', (letter + '%', ))
    records = cursor.fetchall()
    conn.close()
    for records in records:
        print(records)

# Test the function
fetch_to_name_letter('R')

(2, 'Rio', 25, 'Backend Engineer')

### Assignment 7: Handling Transactions

In [39]:
#1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.

def insert_multiple_employees(employees):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    try:
        cursor.executemany(
            ''' INSERT INTO employees (id, name, age, department) VALUES (?, ?, ?, ?) ''',employees)
        conn.commit()
        print("All employees inserted succesfully.")
    except Exception as e:
        conn.rollback()
        print("Error Occured, transaction rolled back.")
        print(e)
    finally:
        conn.close()  

# Test the function with valid and invalid data
employees = [
    (6, 'Franklin', 40, 'Finance'),
    (7, 'Kim', 32, 'Engineering'),
    (8, 'Nolan', 24, 'Marketing'),
    (9, 'Annie', 38, 'Sales'),
    (6, 'Lana', 45, 'HR')  # Duplicate ID to cause an error
]
insert_multiple_employees(employees)

Error Occured, transaction rolled back.
UNIQUE constraint failed: employees.id

In [40]:
#2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

def update_multiple_employees_ages(updates):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    try:
        cursor.executemany('''
            UPDATE employees
            SET age = ?
            WHERE id = ?
        ''', updates)
        conn.commit()
        print("All employee ages updated successfully.")
    except Exception as e:
        conn.rollback()
        print("Error occurred, transaction rolled back.")
        print(e)
    finally:
        conn.close()

# Test the function with valid and invalid data
updates = [
    (32, 1),
    (26, 2),
    (33, 3),
    (41, 4),  # Non-existing ID to cause an error
    (23, 5)
]
update_multiple_employees_ages(updates)

All employee ages updated successfully.

### Assignment 8: Creating Relationships

In [41]:
#1. Create a new table named `departments` with columns `id` (integer) and `name` (text).

def create_dept_table ():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute(''' CREATE TABLE IF NOT EXISTS departments (id INTEGER PRIMARY KEY, name TEXT NOT NULL ) ''')
    conn.commit()
    conn.close()
    print("Table 'departments' created succesfully")
    
#Test the function
create_dept_table()

Table 'departments' created succesfully

In [48]:
#2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.
def add_department_foreign_key():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.executescript('''
        PRAGMA foreign_keys=off;
        BEGIN TRANSACTION;
        ALTER TABLE employees RENAME TO old_employees;
        CREATE TABLE employees (
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL,
            age INTEGER,
            department TEXT,
            department_id INTEGER,
            FOREIGN KEY(department_id) REFERENCES departments(id)
        );
        INSERT INTO employees (id, name, age, department)
        SELECT id, name, age, department FROM old_employees;
        DROP TABLE old_employees;
        COMMIT;
        PRAGMA foreign_keys=on;
        ''')
    conn.commit()
    conn.close()
    print("Table 'employees' modified successfully.")

# Test the function
add_department_foreign_key()

Table 'employees' modified successfully.

In [55]:
#3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.

def insert_department_and_employee(department_id, department_name, employee_id, name, age, department):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    try:
        cursor.execute('''
            INSERT INTO departments (id, name)
            VALUES (?, ?)
        ''', (department_id, department_name))
        cursor.execute('''
            INSERT INTO employees (id, name, age, department, department_id)
            VALUES (?, ?, ?, ?, ?)
        ''', (employee_id, name, age, department, department_id))
        conn.commit()
        print("Department and employee inserted successfully.")
    except Exception as e:
        conn.rollback()
        print("Error occurred, transaction rolled back.")
        print(e)
    finally:
        conn.close()

# Test the function
insert_department_and_employee(1, 'Finance', 10, 'Zara', 28, 'Finance')

Error occurred, transaction rolled back.
UNIQUE constraint failed: departments.id

### Assignment 9: Indexing and Optimization

1. Create an index on the `name` column of the `employees` table.

In [56]:
def create_index_on_name():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('CREATE INDEX idx_name ON employees(name)')
    conn.commit()
    conn.close()
    print("Index on 'name' column created successfully.")

# Test the function
create_index_on_name()

Index on 'name' column created successfully.

2. Write a Python function to fetch and display all employees whose names start with a specific letter. Compare the performance with and without the index.

In [57]:
import time

def fetch_employees_name_starts_with_performance(letter):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    start_time = time.time()
    cursor.execute('SELECT * FROM employees WHERE name LIKE ?', (letter + '%',))
    records = cursor.fetchall()
    end_time = time.time()
    conn.close()
    print("Time taken: {} seconds".format(end_time - start_time))
    for record in records:
        print(record)

# Test the function with the index
fetch_employees_name_starts_with_performance('J')

Time taken: 0.0 seconds
(1, 'Jack', 32, 'Finance', None)
(3, 'John', 33, 'Finance', None)

### Assignment 10: Backing Up and Restoring Data

1. Write a Python function to back up the `test.db` database to a file named `backup.db`.

In [59]:
import shutil

def db_backup():
    shutil.copy('test.db', 'backup.db')
    print('Database backed up succesfully')
    
# Test function
db_backup()

Database backed up succesfully

2. Write a Python function to restore the `test.db` database from the `backup.db` file.

In [60]:
def restore_db():
    shutil.copy('backup.db', 'test.db')
    print('Database restored succcefully')
    
#Test Function
restore_db()

Database restored succcefully